*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
     min-height: 100vh; 
    height: 100%;
    margin: auto; 
    background-color:#232A34 ;
    background-size: cover;
}

.container{
    background-color: #232A34;
}
.icons, .labeld{
    color: #4cff96;
}
a{
    color: white !important;
    font-size: 1.1rem !important;
}
.headers{
    font-weight: 700 !important;
    font-size: 2.9rem;
}
.content__item{
    background-color: #232A34;
}
.input {
   
    font-size: 1.4rem !important;
}
.table-header{
    height: 50px !important;
}


.content__item:hover {
    background: #79b494 !important;
    cursor: pointer !important;
}
.content{
    background-color: #154a3970;
}

.content__item img {
    max-width: 90% !important;

}
